/* Fonts
   ========================================================================== */

/* syncopate-regular - latin */

@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/syncopate-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Syncopate'), local('Syncopate-Regular'),
  url('../fonts/syncopate-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/syncopate-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/syncopate-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/syncopate-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/syncopate-v7-latin-regular.svg#Syncopate') format('svg'); /* Legacy iOS */
}

.syncopate-1 {
  font: 1em 'Syncopate';
}

.syncopate-2 {
  font: 1.15em 'Syncopate';
}

.syncopate-3 {
  font: 1.5em 'Syncopate';
}

.syncopate-4 {
  font: 1.75em 'Syncopate';
}


/* Colors
   ========================================================================== */

.crimson {
  color: #A51C30;
}

.some-other-green {
  color: #A51C30;
}

.blue1 {
  color: #00A5CF;
}

.blue2 {
  color: #00B9AE;
}


/* Style
   ========================================================================== */

html, body {
  height: 100%;
  background: white;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.navigation {
  text-transform: uppercase;
  overflow: hidden;
}

.navigation li {
  display: inline-block;
  padding: 10px;
  color: black;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 3;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.footer-nav img {
  max-width: 44px;
}

.front-fade {
  animation: fade-in;
  animation-delay: 2.5s;
  animation-duration: 3s;
  animation-fill-mode: both;
}

.text--line {
  font: 2.5em 'Syncopate'; }

.text--line1 {
  font: 9.5em 'Syncopate'; }

.text--line2 {
  font: 11.5em 'Syncopate'; }

.text-copy {
  fill: none;
  stroke-dasharray: 7% 28%;
  stroke-width: 2.5px;
  animation: stroke-offset 3s linear;
  animation-delay: -.8s;}

.text-copy:nth-child(1) {
  stroke: #4C94B9;
  stroke-dashoffset: 7%; }
.text-copy:nth-child(2) {
  stroke: #6A6C8B;
  stroke-dashoffset: 14%; }
.text-copy:nth-child(3) {
  stroke: #3989A0;
  stroke-dashoffset: 21%; }
.text-copy:nth-child(4) {
  stroke: #2FBDE7;
  stroke-dashoffset: 28%; }
.text-copy:nth-child(5) {
  stroke: #A51C30;
  stroke-dashoffset: 35%; }


@keyframes stroke-offset {
  20% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;}
}

@keyframes fade-in {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

/* PEOPLE */

#people-container { height:50%; margin:0; padding:0 }
.people-div { position:fixed; width:50%; height:50% }
#mnowak { top:0;   left:0;   background:orange  }
#researchers { top:0;   left:50%; background:blue    }
#gradstudents { top:50%; left:0;   background:green   }
#staff { top:50%; left:50%; background:red     }
